<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delivery Details</h1>
    <table data-th-object="${order}">
        <tr>
            <td>Order Number:</td>
            <td>
                <a data-th-href="@{'/order/' + *{orderId}}" data-th-text="*{orderId}"></a>
            </td>
        </tr>
        <tr>
            <td>Your order will be delivered to</td>
            <td data-th-text="${order.getDelivery().getAddress()}"></td>
        </tr>
        <tr>
            <td>Pizza Cost:</td>
            <td data-th-text="${order.getPizzaCost()}"></td>
        </tr>
        <tr data-th-if="${order.getDelivery().isRush()}">
            <td>Rush:</td>
            <td data-th-text="${order.getDelivery().isRush()}"></td>
        </tr>
        <tr>
            <td>Total Cost:</td>
            <td data-th-text="*{totalCost}"></td>
        </tr>
    </table>
</body>
</html>